# Django
SECRET_KEY=12234abcd5678efgh91011ijklmnop12
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=eelap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Sematimba18100
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis (optional, but useful for Celery later)
REDIS_URL=redis://redis:6379/0